<!DOCTYPE html>
<html>
  <head>
    <title>TestHotwireStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="turbo-visit-control" content="reload">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= yield :head %>
    <%= javascript_include_tag "turbo", type: "module" %>
    <%= stimulus_include_tags %>
    <%= javascript_include_tag "turbo", type: "module-shim" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
